* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    color: $red;
  }
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  color: $black;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: $red;
  color: $white;
  font-size: 1.7rem;
  box-shadow: $box-shadow;
  cursor: pointer;
  border-radius: 1rem;

  &:hover {
    letter-spacing: 0.1rem;
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
